html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* 为什么这里不需要content */
}

body {
    color: #333;
    margin: 0;
    font: 14px/1.5 Arial;
    display: grid;
    grid: auto auto / 1fr 1000px 1fr;
}
@media (max-width: 678px) {
    body {
        grid: auto auto / 1fr; 
    }
}

header {
    grid-area: 1/1/2/4;
    text-align: center;
    background-color: #444;
    padding: 20px 0;
}

@media (max-width: 678px) {
    header {
        grid-area: 1/1/2/2;
    }
}

    
header>.avater {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    /* !!!! */
}

header>h1 {
    font-size: 19px;
    color: white;
}

header>p {
    font-size: 17px;
    color: #999;
}

main {
    grid-area: 2/2/3/3;
    display: grid;
    grid: auto / 300px 1fr;
}
@media (max-width: 678px) {
    main {
        grid-area: 2/1/3/2; 
        grid: auto 1fr/ auto;
        padding: 10px;
    }
}
    
.column-1 {
    grid-area: 1/1/2/1;
}
@media (max-width: 678px) {
    .column-1 {
        grid-area: 1/1/2/2; 
    }
}


.column-2 {
    grid-area: 1/2/2/3;
    margin-left: 60px;
}
@media (max-width: 678px) {
    .column-2 {
        grid-area: 2/1/3/2; 
        margin-left: 0;
    }
}


main section {
    margin-top: 30px;
    display: grid;
    grid: auto auto / 40px auto;
    align-items: center;
}

main section>.iconfont {
    grid-area: 1/1/2/2;
    font-size: 20px;
    background: yellowgreen;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;

}

main section>h2 {
    grid-area: 1/2/2/3;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 7px 0px;
}

main section>h2::after {
    content: '';
    background-color: yellowgreen;
    height: 2px;
    flex: 1;
    margin-left: 20px;
}

main section>.detail {
    grid-area: 2/2/3/3;
    padding-left: 0px;
}

.basic-info .detail {
    list-style: none;
    margin: 2px;
}

.basic-info .detail .iconfont {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.skills .detail {
    margin: 0px;
}

.skills .detail li {
    margin-top: 10px;
}
.map .detail dd {
    height: 3px;
    margin: 8px 0px 16px 0px;
    background-color: #ccc;
    border-radius: 20%;
}
.map .detail .bar {
    display: block;
    height: 3px;
    background-color: yellowgreen;
    border-radius: 20%;
}
.layout-1 .detail>li {
    display: grid;
    grid: auto auto / auto 1fr auto;
    align-items: center;
    justify-items: flex-start;
    grid-gap: 10px;
    margin-top: 20px;
}
@media (max-width: 678px) {
    .layout-1 .detail>li {
        grid:auto auto auto / auto 1fr 
    }
}

.layout-1 .detail .timeline {
    grid-area: 1/1/2/2;
}
@media (max-width: 678px) {
    .layout-1 .detail .timeline {
        grid-area: 1/1/2/2;
    }
}

.layout-1 .detail h3 {
    grid-area: 1/2/2/3;
    margin: 0;
    font-size: 16px;
}
@media (max-width: 678px) {
    .layout-1 .detail h3 {
        grid-area: 2/1/3/3;
    }
}
.layout-1 .detail .profession {
    grid-area: 1/3/1/4;
}
@media (max-width: 678px) {
    .layout-1 .detail .profession {
        grid-area: 1/2/2/3;
        justify-self: end;
    }
}

.layout-1 .detail .content {
    grid-area: 2/2/3/4;
    margin: 0;
    padding: 0;
}
@media (max-width: 678px) {
    .layout-1 .detail .content {
        grid-area: 3/1/4/3;
    }
}